<!-- <form class="form-inline justify-content-center">
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Browse here using symbol"
    aria-label="Search" [(ngModel)]="stockName" value="{{stockName}}"
    (keyup)="onKey($event)">
  <a class="input-group-append btn-light" [routerLink]="['/stock/', stockName]" role="button">
    <span class="material-icons">
      search
    </span>
  </a>
</form> -->

<form class = "tp-form">
  <mat-form-field class = "tp-full-width">
     <input type = "text" 
        placeholder = "Browse here using symbol" 
        aria-label = "Number" 
        matInput 
        [formControl] = "myControl" 
        [matAutocomplete] = "auto">
     <mat-autocomplete #auto = "matAutocomplete">
        <mat-option *ngFor = "let symbol of symbols" [value] = "symbol.value">
           {{symbol.display}}
        </mat-option>
     </mat-autocomplete>
  </mat-form-field>
</form>
