<div class="v-spacing">
  <carousel>
    <slide *ngFor="let company of companies">
      <div class="text-center py-5 bg-dark text-light">
        <h2> {{ company.companyName }}</h2>
        <br><br>
        <div class="lead">
          <h5> {{ company.symbol }}</h5>
          <p style="width: 300px; margin:auto;">{{ company.description }}</p>
          <br>
          <a  [routerLink]="['/stock/', company.symbol ]">><button class="btn btn-light" >V I E W</button></a>
        </div>
      </div>
    </slide>
  </carousel>
</div>
