.list-header {
  color: white;
  font-family: "Roboto", sans-serif;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(214, 212, 212);
}

@media only screen and (max-width: 600px) {
  .stocklist {
    margin-top: 10%;
    width: 90%;
    font-weight: lighter;
    margin: auto;
  }
}
